<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>我现在在分支中</p>
    <p>修改完我要提交到仓库中</p>
    <p>功能开发完毕，测试通过，现在合并分支，将master分支代码更新为最新的</p>
  </body>
</html>
